.allInfos{
    padding: 0 15%;
    margin: 30px 0;
}
@media (max-width: 1280px) {
    .allInfos{
        padding: 0 8%;
        margin: 30px 0;
    }
}
.allInfosLeft{
    display: inline-block;
    width: 80%;
    padding-top: 10px;
}
.allInfosLeft > div {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
}
.allInfosLeft img{
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
}
.allInfosRight{
    display: inline-block;
    width: 20%;
    float: right;
}
.allInfosRight img{
    width: 70px;
    height: 70px;
    float: right;
}
.banners{
    background: #ff5200;
    padding: 20px 6%;
    text-align: center;
    color: white;
}
.ant-layout-footer{
    padding: 0 !important;
}
@media (max-width: 736px) {
    .allInfosRight{
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
    }
    .allInfosLeft > div {
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
    }
    .allInfosLeft span:nth-child(1){
        display: inline-block;
        position: relative;
        float: left;
        height: 23px;
    }
    .allInfos{
        padding: 0 8%;
        margin: 12px 0;
    }
    .banners{
        padding: 20px 18%;
        font-size: 10px;
    }
}