.ServiceImg{
    background: url('../img/servicebanner.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.ServiceTab{
    margin-top: -14%;
    padding: 0 15% 20px 15%;
    border-bottom: 1px solid #e8e8ec;
}
@media (max-width: 1280px) {
  .ServiceTab{
      margin-top: -14%;
      padding: 0 8% 20px 8%;
      border-bottom: 1px solid #e8e8ec;
  }
}
.ServiceTab h3{
    text-align: center;
    padding: 20px 0;
    color: #dc6b16;
}
.ServiceTab img{
    height: 200px;
    width: 200px;
}
.ServiceTab span{
    overflow: hidden;
    word-break: normal;
    display: block;
    white-space: pre-wrap;
    overflow: hidden;
}
.ant-tabs{
    background: rgb(236, 236, 236);
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}
.ant-tabs-tab-active{
  background-image: url('../img/arrayTab.png');
  background-repeat: no-repeat;
  background-position: 4% 47%;
  color: white !important;
  background-color: #ff5a00;
  background-size: 12px 12px;
  padding-left: 28px !important;
}

.ant-tabs-vertical.ant-tabs-left > .ant-tabs-content {
    background: white;
    height: 600px;
}
.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-tab{
    margin-bottom: 0;
    padding: 15px 24px;
}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab{
    text-align: left !important;
}
.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-ink-bar{
    width: 0 !important;
}
.ant-tabs-vertical > .ant-tabs-bar{
    height: 100%;
}
@media (max-width: 736px) {
    .ServiceImg{
        height: 160px;
    }
    .ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar{
        width: 24%;
    }
    .ant-tabs-vertical > .ant-tabs-bar .ant-tabs-nav{
        font-size: 11px;
    }
    .ant-tabs-vertical > .ant-tabs-bar .ant-tabs-tab{
        margin-bottom: 0;
        padding: 8px 4px 8px 12px;
    }
    .ant-tabs-tab-active{
        padding-left: 16px !important;
    }
    .ServiceTab img{
        height: 60px;
        width: 60px;
    }
    .ant-tabs-vertical.ant-tabs-left > .ant-tabs-content {
        padding-left: 13px;
        padding-right: 13px;
        height: 400px;
        overflow: auto;
    }
    .enService{
        font-size: 8px;
    }
}