/* .container{
  padding: 20px 15%;
  background: #EAE7E7;
}
@media (max-width: 1280px) {
  .container{
    padding: 20px 8%;
    background: #EAE7E7;
  }
} */
.carousel .control-dots .dot{
    background: red !important;
}