/* .heads{
  background-color: white !important
}
.heads-menu{
  margin-left: 80;
  background-color: white !important;
  color: black !important;
} */
.ant-layout-header {
  padding: 0 15% !important;
}
@media (max-width: 1280px) {
  .ant-layout-header {
    padding: 0 8% !important;
  }
}
.ant-menu-horizontal{
    border: none !important;
}
/* .ant-menu-item{
    padding-right: 26px !important;
} */
.headerList{
  padding-top: 36px;
}
.headerList .logoImg{
    width: 98px;
    height: 35px;
    vertical-align: middle;
    margin-left: -6px;
}
.headerList > span{
    padding-right: 20px;
    position: relative;
    display: inline-block;
}
.headerList > span > img{
    vertical-align: middle;
    height: 20px;
    padding-left: 18px;
}
.headerList > span > a{
    vertical-align: middle;
    position: relative;
    display: inline-block;
    color: black;
}
.headerList > span:nth-child(2){
    padding-left: 70px;
}
.headerList > span:last-child{
    position: absolute;
    right: 6%;
}
.inputNoline{
    display: inline-block;
    border: none;
    height: 22px;
    margin-right: 14px;
}
.headerAditional span:first-child{
    position: absolute;
    left: 8%;
    top: -12px;
}
.headerAditional span:last-child{
    position: absolute;
    right: 8%;
    top: -12px;
}
@media (max-width: 736px) {
    .headerList .logoImg{
        width: 119px;
        vertical-align: middle;
        height: 41px;
    }
    .headerList > span{
        padding-right: 0;
        position: relative;
        display: inline-block;
    }
    .headerList > span > img{
        vertical-align: middle;
        height: 28px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .headerList > span > a{
        vertical-align: middle;
        position: relative;
        display: inline-block;
        color: black;
    }
    .headerList > span:nth-child(1){
        margin-right: 10px;
    }
    .headerList > span:nth-child(2){
        padding-left: 0;
    }
    .headerList > span:last-child{
        display: none
    }
    .headerAditional span:first-child {
        left: 8%;
    }
}