.NewTianImg{
  background: url('../img/servicebanner.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.NewTianTab{
  margin-top: -14%;
  padding: 0 15% 20px 15%;
  border-bottom: 1px solid #e8e8ec;
}
@media (max-width: 1280px) {
  .NewTianTab{
    margin-top: -14%;
    padding: 0 8% 20px 8%;
    border-bottom: 1px solid #e8e8ec;
  }
}
.NewTianTab h3{
  text-align: center;
  padding: 20px 0;
  color: #ff5a00;
}
.NewTianTab img{
  height: 200px;
  width: 200px;
}
.NewTianTab span{
  overflow: hidden;
  word-break: normal;
  display: block;
  white-space: pre-wrap;
  overflow: hidden;
}
.ant-tabs-tab-active{
    background-image: url('../img/arrayTab.png');
    background-repeat: no-repeat;
    background-position: 4% 32%;
    color: white !important;
    background-color: #ff5a00;
    background-size: 12px 12px;
    border-bottom: none;
}
.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-ink-bar{
    width: 0 !important;
}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab{
    text-align: left !important;
    border-bottom: 1px dotted #e0dcdc;
}
.boldTian{
    font-weight: bold;
}
@media (max-width: 736px) {
  .NewTianImg{
      height: 146px;
  }
  .NewTianTab img{
      height: 60px;
      width: 60px;
  }
  .enBoldtian{
      font-size: 8px;
  }
  .ant-tabs-tab-active{
      background-size: 10px 10px;
      background-position: 4% 31%;
  }
}