.NewsImg{
  background: url('../img/servicebanner.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.NewsTab{
  margin-top: -14%;
  padding: 0 15% 20px 15%;
  border-bottom: 1px solid #e8e8ec;
}
@media (max-width: 1280px) {
  .NewsTab{
    margin-top: -14%;
    padding: 0 8% 20px 8%;
    border-bottom: 1px solid #e8e8ec;
  }
}
.NewsTab h3{
  text-align: center;
  padding: 20px 0;
  color: #ff5a00;
}
.NewsTab img{
    height: 80px;
    width: 80px;
    display: inline-block;
    position: relative;
    float: left;
}
.NewsTab span{
  overflow: hidden;
  word-break: normal;
  display: block;
  white-space: pre-wrap;
  overflow: hidden;
}
.ant-tabs-tab-active{
  background-image: url('../img/arrayTab.png');
  background-repeat: no-repeat;
  background-position: 4% 47%;
  color: white !important;
  background-color: #ff5a00;
  background-size: 12px 12px;
}
.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-ink-bar{
  width: 0 !important;
}
.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab{
  text-align: left !important;
}
.rightPart{
    padding: 20px 0 30px 56px;
    border-bottom: 1px solid #e8e1e1;
}
.rightPart span:nth-child(2){
    float: right;
    margin-right: 20px;
}
.rightParttree{
    background:  url('../img/tree.png');
    background-repeat: no-repeat;
    background-position-y: 36%;
}
.rightPartprofix{
  background:  url('../img/profix.png');
  background-repeat: no-repeat;
  background-position-y: 36%;
}
.rightParttransform{
  background:  url('../img/transform.png');
  background-repeat: no-repeat;
  background-position-y: 36%;
}
.rightPartelabrater{
  background:  url('../img/elabrater.png');
  background-repeat: no-repeat;
  background-position-y: 36%;
}
@media (max-width: 736px) {
  .NewsImg{
      height: 160px;
  }
  .NewsTab img{
      height: 60px;
      width: 60px;
  }
  .rightParttree {
    background-size: 40px 40px;
  }
  .rightParttransform {
    background-size: 40px 40px;
  }
  .rightPartprofix {
    background-size: 40px 40px;
  }
  .rightPartelabrater {
    background-size: 40px 40px;
  }
  .rightPart {
      padding: 20px 0 30px 42px;
  } 
  .rightPart span:nth-child(2){
      margin-right: 4px;
  }
  .enNews{
      font-size: 8px;
  }
}